
.social-icon a{
    font-size: 16px;
    color: rgb(158, 157, 157);
}
/* ==============animation================ */
.new-badge {
  background: linear-gradient(135deg, #3b82f6, #06b6d4);
  animation: infinityPulse 1.8s infinite ease-in-out;
}

@keyframes infinityPulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(59, 130, 246, 0.6);
  }
  50% {
    transform: scale(1.15);
    box-shadow: 0 0 14px rgba(59, 130, 246, 0.9);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(59, 130, 246, 0.6);
  }
}
 .nav-menu a:hover{
    color: #5deb88;
 }
 .nav-btn{
    transition: .5s;
 }
.nav-btn:hover{
    background: linear-gradient(135deg, #f63b92, #d46906);
}
.card {
  transition: transform 300ms ease, box-shadow 300ms ease;
  will-change: transform;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(22, 22, 22, 0.25);
}
.icon-img {
  transition: transform 300ms ease;
  cursor: pointer;
}

.icon-img:hover {
  transform: scale(1.15) rotate(3deg);
}
.video-card iframe {
  transition: transform 300ms ease;
}

.video-card:hover iframe {
  transform: scale(1.03);
}

.host-img {
  transition: transform 400ms ease;
}

.card:hover .host-img {
  transform: scale(1.05);
}

.btn-gradient {
  padding: 12px 28px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-1{

}
.btn-2{
    background: linear-gradient(135deg, #f63bb8fa, #d46906d2);
}
.btn-gradient:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(246, 112, 59, 0.45);
}




